.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 15px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: #fafafa;
    overflow: hidden;
  }
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .main{
      display:flex;
      flex-direction: row;
      height: 99vh;
  }

  .LHP{
      width:30%;
      background-color:#FAFAFA;
      display: flex;
      flex-direction: column;
  }
  .LHP > div {
      border-bottom: 1px solid lightgray;
  }
  .LHP > .LHP__menu{
      padding:15px;
      display:flex;
      justify-content: space-between;
  }
  select{
      outline:none;
      border:none;
      background-color: #fafafa;
  }
  .LHP > .LHP__pages > .pages__header{
    padding:15px;
    display:flex;
    justify-content: space-between;
    font-weight: bold;

  }
  .LHP > .LHP__pages > .pages__body {
      display:flex;
      flex-direction: column;
  }
  .LHP > .LHP__pages > .pages__body li {
     cursor: pointer;
      padding: 15px;
  }

  .LHP > .LHP__pages > .pages__body  #SC {
      background-color: #eeeeee;
  }
  .LHP > .LHP__pages > .pages__body  #details {
  cursor: not-allowed;
}
  .LHP > .LHP__components > .components__header{
    padding:15px;
    display:flex;
    justify-content: space-between;
    font-weight: bold;
   
  }

  .LHP > .LHP__components > .components__body .panel > .accordion__body {
    display:flex;
    flex-direction: column;
    padding: 10px;
  }
  .LHP > .LHP__components > .components__body .panel > .accordion__body select{
      border: 1px darkgrey solid;
      padding: 10px;
      margin: 5px;
      text-align: center;
      text-align-last: center;
      -moz-text-align-last: center;
  }

  .LHP > .LHP__submit {
      padding:15px;
      color:white;
        background-color:#5799C0 ;
      width: 70%;
      align-self: center;
      text-align: center;
      margin: 15px;
	  cursor:pointer;
  }
  .preview{
      width:50%;
	  background-image: url("back.png");
	  background-position: center;
    background-size: cover;
	      display: flex;
    flex-direction: column;
    align-items: center;
}
.preview div {
	background-position: center;
 	width: 90%;
	margin: 10px 20px;
	    background-size: contain;
    background-repeat: no-repeat;
}
.preview > .sum{ 
	 background-image: url("sum.PNG");
	 height: 10vh;
	 background-repeat: no-repeat;
	background-size:cover;

  }
  .preview > .bar{ 
	 background-image: url("bar.png");
	height: 30vh;
  }
  .preview > .line{ 
	 background-image: url("line.png");
	 height:30vh;
  }
  .RHP{
      width:20%;
      background-color:#FAFAFA ;
  }

  .RHP > .RHP__header {
      font-weight: bold;
      padding: 5px;
  }

  .RHP > .RHP__body {
      padding:5px;
  }

  .RHP > .RHP__body li {
    margin:10px;
}
